[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "subscreen"]
	path = subscreen
	url = https://github.com/cran/subscreen
	shallow = true
	registered = true
